.btnStart {
    padding: 30px 60px;
}
.displayGame { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background); 
    z-index: 99;
}
.wrapper {
   width: 85vw;
   height: 100%;
   margin: auto;
}
.headerGame {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: space-between;
}
.btnReturn {
    font-size: 30px;
    color: #fff;
}
