.wrapper{
	font-family: sans-serif;
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: var(--background);
	transform: translate(-50%,-50%);
	text-transform: uppercase;
    cursor: pointer;
    user-select: none;
	color: var(--blue);
	padding: 30px 60px;
	font-size: 30px;
	letter-spacing: 2px;
	text-decoration: none;
	box-shadow: 0 20px 50px rgba(255,255,255,0.05);
	overflow: hidden;
    &:hover {
		animation: pulse 1s;
		box-shadow: 2px 16px 40px var(--blue);
    }
}
@keyframes pulse {
  0% { box-shadow: 0 5px 15px var(--blue); }
  100% { box-shadow: 2px 16px 40px var(--blue); }
}
.wrapper :before{
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	content: '';
	width: 50%;
	background-color: var(--background);	
}

.border:nth-child(1){
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(to right, var(--background), var(--blue));
	animation: animate1 2s linear infinite;
}

@keyframes animate1{
	0%{
		transform: translateX(-100%);
	}

	100%{
		transform: translateX(100%);
	}
}

.border:nth-child(2){
	position: absolute;
	top: 0;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(to bottom, var(--background), var(--blue));
	animation: animate2 2s linear infinite;
	animation-delay: 1s;
}

@keyframes animate2{
	0%{
		transform: translateY(-100%);
	}

	100%{
		transform: translateY(100%);
	}
}

.border:nth-child(3){
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(to left, var(--background), var(--blue));
	animation: animate3 2s linear infinite;
}

@keyframes animate3{
	0%{
		transform: translateX(100%);
	}

	100%{
		transform: translateX(-100%);
	}
}

.border:nth-child(4){
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(to top, var(--background), var(--blue));
	animation: animate4 2s linear infinite;
	animation-delay: 1s;
}

@keyframes animate4{
	0%{
		transform: translateY(100%);
	}

	100%{
		transform: translateY(-100%);
	}
}
