
// Dropdown 
.wrapper {
    position: relative;
    display: inline-block;
}
.dropdownBtn {
    position: relative;
    width: 150px;
    height: 32px;
    border-radius: 6px;
    font-size: 16px;
    color: white;
    background-color: rgba(47, 50, 66, 0.8);
    z-index: 9;
}
.dropdownContainer {
    position: absolute;
    top: -4px;
    right: -5px;
    width: 160px;
    height: 104px;
    padding: 40px 0 0 5px;
    border-radius: 6px;
    background-color: var(--background);
    z-index: 1;
}
.dropdownContainer div {
    display: block;
    width: 150px;
    height: 30px;
    padding-left: 5px;
    border-radius: 6px;
    color: var(--text-color);
    line-height: 30px;
    background-color: transparent;
    text-decoration: none;
    &:hover{
        background-color: rgba(47, 50, 66, 1);
    }
}
