.wrapper { 
    max-width: 100%;
    height: 633px;
    margin-left: 128px;
    margin-top: 25px;
    background-color: transparent;
}
.row {
    width: 100%;
    position: relative;
    border-radius: 6px;
    color: #e8e8e8;
    text-align: left;
    background-color: #3a3e52;
    margin-bottom: 24px;
}

.head {
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: 0;
    color: #9296a7;
    background-color: transparent;
    font-size: 16px;
}
.col {
    width: 180px;
    word-break: break-all;
}
.col-1 {
    width: 28px;
    margin-right: 40px;
    margin-left: 40px;
    text-align: center;
}
.col-2 {
    width: 180px;
}
.col-3 {
    width: 220px;
}
.col-4 {
    width: 140px;
}
.col-5 {
    display: flex;
    align-items: center;
    width: 324px;
}
.body {
    height: 81vh;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--blue);
    }
}
.containLess {
    display: flex;
    align-items: center;
    height: 75px;
    position: relative;
}

.lineColor {
    width: 4px;
    height: 100%;
    position: absolute;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

// Progress line
.ratioText {
    width: 48px;
    color: var(--text-color);
}
.progress {
    display: block;
    width: 185px;
    height: 8px;
    margin-left: 10px;
    border-radius: 15px;
    background-color: var(--text-color);
}
.ratioLine {
    height: 100%;
    padding: 1%;
    border-radius: 15px;
}
.containMore {
    width: 100%;
    height: 90px;
}

//Dropdown
