.active{
    visibility: visible;
}
.hidden {
    visibility: hidden;
}
.overLay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
}
.toolAdd {
    position: absolute;
    top: 0;
    left: 224px;
    z-index: 1;
    visibility: none;
    .container {
        width: 70vw;
        height: 90vh;
        margin: 0 auto;
        margin-top: 26px;
        text-align: center;
        .nameTool {
            font-size: 20px;
            color: #fff ;
            height: 60px;
            background-color: #36304a;
            line-height: 60px;
        }
        .bodyTool {
            position: relative;
            height: 80vh;
            padding-top: 30px;
            background-color: #fff;
            .inputTool {
                display: flex;
                justify-content: space-between;
                width: 80%;
                margin-left: 20px;
                .btnAdd {
                    margin-left: 20px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            .btnSubmit {
                position: absolute;
                bottom: 40px;
                right: 70px;
                background-color: aqua;
                padding: 15px 20px;
                cursor: pointer;
            }
            .btnCancel {
                position: absolute;
                bottom: 40px;
                right: 180px;
                background-color: aqua;
                padding: 15px 20px;
                cursor: pointer;
            }
           
        }
    }
}